/.idea/
/.vscode/
.cursor/
/bin/
/config.yaml
/config.yml
/out/
/log/
/logs/
/tmp/
/ts/
**/tmp/
/temp/
**/temp/
*tmp*
*temp*
/prev/
*.log
debug.*
*.iml
*.tmp.*
*.temp.*
temp.*
*_local_test.*
test.*
*.test
tech-spec*
*.ps1
*.sh
*.out
coverage*
logger
.cursorignore
ACCOMPANYING*
TO_DO.md
# docs/12-factors-check.md
# docs/arch-check.md
.gitattributes
